# Binaries for programs and plugins
bin/
.idea
*.exe
*.exe~
*.dll
*.so
*.dylib

.env-api
.env-issuer
.env-ui
resolvers_settings.yaml
payment_settings.yaml

infrastructure/local/.vault/data
infrastructure/local/.vault/plugins
infrastructure/local/.vault/policies
infrastructure/local/.vault/file

tools/changelog/input.md
tools/changelog/changelog.md

kms_localstorage_keys.json

.fleet
.vscode/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

.DS_STORE
