[Server]
Port=3001
URL="http://localhost:3001"
NativeProofGenerationEnabled=true
PublishingKeyPath="pbkey"
OnChainCheckStatusFrequency="30s"

[Database]
URL="postgres://polygonid:polygonid@postgres:5432/platformid?sslmode=disable"

[Cache]
URL="redis://@redis:6379/1"

[UI]
Port=5173
URL="http://localhost:5173"
API="http://localhost:3002"

[HTTPBasicAuth]
User="userIdentity"
Password="passwordIdentity"

[Log]
Level=-4
Mode=2

[KeyStore]
Address="http://vault:8200/"
# Required for standalone mode only
Token="<placeholder(hvs.xxxxx from infrastructure/local/.vault/data/init.out file)>"
PluginIden3MountPath="iden3"

# UNDER DEVELOPMENT
# [ReverseHashService]
# URL="http://localhost:3001"
# Enabled=false

[Ethereum]
URL="<placeholder(https://polygon-mumbai.g.alchemy.com/v2/xxxxxxxxx)>"
ContractAddress="0x134B1BE34911E39A8397ec6289782989729807a4"
DefaultGasLimit=600000
ConfirmationTimeout="600s"
ConfirmationBlockCount=5
ReceiptTimeout="600s"
MinGasPrice=0
MaxGasPrice=1000000
RPCResponseTimeout="5s"
WaitReceiptCycleTime="30s"
WaitBlockCycleTime="30s"

[Prover]
URL="http://localhost:8002"
ResponseTimeout="600s"

[Circuit]
Path="./pkg/credentials/circuits"
