ServerPort=3001
ServerUrl="http://localhost"

[Database]
    Url="postgres://polygonid:polygonid@localhost:5432/platformid?sslmode=disable"

[Log]
    Level = -4
    Mode = 2

[KeyStore]
    Address="http://localhost:8200"
    Token="{{vault token}}"
    PluginIden3MountPath="iden3"

[ReverseHashService]
    URL="http://localhost:3001"
    Enabled=false

[Ethereum]
    URL="{{ethereum url}}"
    ContractAddress="{{latest contract address}}"
    DefaultGasLimit=600000
    ConfirmationTimeout="600s"
    ConfirmationBlockCount=5
    ReceiptTimeout="600s"
    MinGasPrice=10
    MaxGasPrice=10
    RPCResponseTimeout="5s"
    WaitReceiptCycleTime="30s"
    WaitBlockCycleTime="30s"

[Circuit]
    Path="./pkg/credentials/circuits"