ServerPort = 3001
ServerUrl = "<placeholder(public server url)>"
NativeProofGenerationEnabled = true
PublishingKeyPath = "pbkey"
OnChainCheckStatusFrecuency = "30s"

[Database]
Url="postgres://polygonid:polygonid@localhost:5432/platformid?sslmode=disable"

[Cache]
RedisUrl="redis://@localhost:6380/1"

[HTTPBasicAuth]
User = "user"
Password = "password"

[Log]
Level = -4
Mode = 2

[KeyStore]
Address="http://localhost:8200/"
Token="<placeholder(hvs.xxxxx from infrastructure/local/.vault/data/init.out file)>"
PluginIden3MountPath="iden3"

[ReverseHashService]
URL="http://localhost:3001"
Enabled= false

[Ethereum]
URL="<placeholder(https://polygon-mumbai.g.alchemy.com/v2/xxxxxxxxx)>"
ContractAddress="0x134B1BE34911E39A8397ec6289782989729807a4"
DefaultGasLimit=600000
ConfirmationTimeout="600s"
ConfirmationBlockCount=5
ReceiptTimeout="600s"
MinGasPrice=0
MaxGasPrice=1000000
RPCResponseTimeout="5s"
WaitReceiptCycleTime="30s"
WaitBlockCycleTime="30s"

[Prover]
ServerURL="http://localhost:8002"
ResponseTimeout="600s"

[Circuit]
Path="./pkg/credentials/circuits"
