version: "3.9"
services:

  ui:
    image: issuer-ui:local
    ports:
      - "8088:80"
    env_file:
      - ../../.env-api
      - ../../.env-ui
    healthcheck:
      test: [ "CMD", "curl", "-f", "localhost:8088/health" ]
      interval: 10s
      timeout: 5s
      retries: 5

  api:
    image: issuer-api:local
    ports:
      - "3001:3001"
    env_file:
      - ../../.env-issuer
    volumes:
      - ../../localstoragekeys:/localstoragekeys:rw
      - ../../resolvers_settings.yaml:/resolvers_settings.yaml
    healthcheck:
      test: [ "CMD", "curl", "-f", "localhost:3001/status" ]
      interval: 10s
      timeout: 5s
      retries: 5
    command: sh -c "apk add curl && sleep 4s && ./migrate && ./platform"

  notifications:
    image: issuer-api:local
    ports:
      - "3004:3004"
    env_file:
      - ../../.env-issuer
    command: sh -c "sleep 4s && ./notifications"

  pending_publisher:
    image: issuer-api:local
    ports:
      - "3005:3005"
    env_file:
      - ../../.env-issuer
    command: sh -c "sleep 4s &&  ./pending_publisher"

networks:
  default:
      name: issuer-network
