apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.apiUiIssuerNode.configMap.issuerApiName }}
  labels:
    {{- include "polygon-id-issuer.staticLabel" . | nindent 4}}
    {{- include "polygon-id-issuer.labels" . | nindent 4 }}
data:
  ISSUER_API_UI_SERVER_URL: {{ include "helpers.api-ui-server-url" . | nindent 4}}
  ISSUER_API_UI_SERVER_PORT: {{ .Values.apiUiIssuerNode.configMap.issuerApiUiServerPort | quote }}
  ISSUER_API_UI_AUTH_PASSWORD: {{ .Values.apiUiIssuerNode.configMap.issuerApiUiAuthPassword }}
  ISSUER_API_UI_AUTH_USER: {{ .Values.apiUiIssuerNode.configMap.issuerApiUiAuthUser }}
  ISSUER_API_UI_ISSUER_NAME: {{ .Values.issuerName }}
  ISSUER_API_UI_SCHEMA_CACHE: {{ .Values.apiUiIssuerNode.configMap.issuerApiUiSchemaCache | quote }}
  ISSUER_API_IDENTITY_BLOCKCHAIN: {{ .Values.apiUiIssuerNode.configMap.issuerApiIdentityBlockchain }}
  ISSUER_API_IDENTITY_METHOD: {{ .Values.apiUiIssuerNode.configMap.issuerApiIdentityMethod }}
  ISSUER_API_IDENTITY_NETWORK: {{ include "helpers.issuer-network" . | nindent 4}}
  ISSUER_API_ENVIRONMENT: {{ .Values.apiUiIssuerNode.configMap.issuerApiEnvironment }}
