@import "variables.module";

@font-face {
  font-family: "ModernEra-Regular";
  font-style: normal;
  font-weight: normal;
  src: local("ModernEra-Regular"), url("/fonts/ModernEra-Regular.woff2") format("woff2"),
    url("/fonts/ModernEra-Regular.woff") format("woff");
}

/* OVERRIDES */
.ant-tree-show-line .ant-tree-switcher {
  background: transparent;
}

.ant-tree.ant-tree-directory .ant-tree-treenode:hover::before {
  background: transparent;
}

body {
  margin: 0;
}

h2,
h3,
h5 {
  margin-top: 0;
}

.ant-avatar {
  display: inline-flex;
  justify-content: center;
}

.ant-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  .ant-btn-loading-icon {
    height: 20px;
  }

  svg {
    width: 20px;
  }
}

.ant-card .ant-card-meta-description {
  font-size: 16px;
}

.ant-card.selected {
  border: 1px solid $primary-color;
  background: $bg-light;
}

.ant-card.disabled {
  border: 1px solid $border-color;
  background: $bg-light;
}

.ant-card-type-inner {
  background-color: $bg-light;
  border: 2px dashed $border-color;

  .ant-card-head {
    background-color: $bg-light;
    border-bottom: none;
    padding: 16px 16px 0;
  }

  .ant-card-body {
    padding: 16px;
  }
}

.ant-drawer-content-wrapper {
  width: 400px !important;
}

.ant-form-item-explain,
.ant-form-item-extra,
.ant-typography.ant-typography-secondary {
  color: $text-color-secondary;
}

.ant-form-item-label {
  font-weight: 500;
}

.ant-input-affix-wrapper .ant-input-prefix {
  margin-right: 16px;
}

.ant-menu.ant-menu-root {
  &.ant-menu-light {
    border-right: none;
  }

  .ant-menu-item {
    align-items: center;
    display: flex;

    &.ant-menu-item-selected {
      border-radius: 6px;
    }
  }

  > .ant-menu-item,
  .ant-menu-submenu-title {
    padding-left: 16px !important;
  }
}

.ant-space.ant-space-vertical {
  width: 100%;
}

.ant-tag {
  font-weight: bold;

  &.ant-tag-success {
    background-color: $tag-bg-success;
  }
}

.ant-typography-copy svg {
  vertical-align: text-bottom;
  width: 16px;
}

/* CUSTOM */

.ant-card.explainer {
  background-color: $primary-color;
  margin-top: 8px;
  padding-top: 8px;

  .ant-card-body {
    padding-top: 0;
  }

  .ant-card-head {
    border-bottom: none;
    color: white;
  }

  .ant-image {
    bottom: 0;
    position: absolute;
    right: 10%;
  }

  .ant-typography {
    color: white;
  }
}

.ant-layout .ant-layout-header {
  line-height: inherit;
}

.ant-layout .bg-light,
.bg-light {
  background-color: $bg-light;
}

.avatar-color-cyan {
  background-color: $cyan-bg;
  color: $cyan-color;

  path {
    stroke: $cyan-color;
  }
}

.avatar-color-error {
  background-color: $error-bg;
  color: $error-color;

  path {
    stroke: $error-color;
  }
}

.avatar-color-primary {
  background-color: $primary-bg;
  color: $primary-color;

  path {
    stroke: $primary-color;
  }
}

.check-items {
  div:first-child {
    align-items: center;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    height: 24px;
    width: 24px;
  }

  svg {
    width: 16px;
  }
}

.claiming-card {
  margin: auto;
  max-width: 720px;
}

.font-small,
.font-small a,
th .ant-typography,
.ant-table-cell .ant-typography,
.ant-table-cell a {
  font-size: 14px;
}

.full-width {
  width: 100%;
}

.input-copy-group {
  display: flex !important;
}

.menu-sider-layout {
  height: 100%;
  flex-flow: column;

  .ant-menu-title-content {
    width: 100%;
  }
}

.pointer {
  cursor: pointer;
}

h5 {
  font-variant: all-small-caps;
}

svg {
  height: auto;

  &.hoverable {
    &:hover {
      path {
        stroke: $text-color;
      }
    }

    path {
      stroke: $text-color-secondary;
    }
  }

  &.icon-secondary {
    width: 20px;
    vertical-align: sub;

    path {
      stroke: $text-color-secondary;
    }
  }
}
