$avatar-bg: #2c374e;
$bg-light: #f9fafb;
$border-color: #d0d5dd;
$icon-bg: #f2f4f7;
$icon-color: #475467;
$divider-color: #eaecf0;
$error-bg: #fecfcf;
$error-color: #b20808;
$primary-bg: #f4ebff;
$primary-color: #2f8507;
$success-bg: #f1ffe5;
$selected-bg: #f1ffe5;
$success-color: #2f8507;
$success-light-color: #d1fadf;
$tag-bg: #f2f4f7;
$tag-bg-success: #ecfdf3;
$tag-color: #344054;
$text-color: #131313;
$text-color-secondary: #667085;
$text-color-warning: #b54708;
$primary-color-light: #93f558;
$primary-color-dark: #24580f;

:export {
  avatarBg: $avatar-bg;
  bgLight: $bg-light;
  borderColor: $border-color;
  iconBg: $icon-bg;
  iconColor: $icon-color;
  dividerColor: $divider-color;
  errorBg: $error-bg;
  errorColor: $error-color;
  primaryBg: $primary-bg;
  primaryColor: $primary-color;
  primaryColorLight: $primary-color-light;
  successBg: $success-bg;
  selectedBg: $selected-bg;
  successColor: $success-color;
  successLightColor: $success-light-color;
  tagBg: $tag-bg;
  tagBgSuccess: $tag-bg-success;
  tagColor: $tag-color;
  textColor: $text-color;
  textColorSecondary: $text-color-secondary;
  textColorWarning: $text-color-warning;
  primaryColorDark: $primary-color-dark;
}
