# dependencies
/node_modules

# production
/dist

# env vars
.env*
!.env.sample

# linter
.eslintcache

# IDE
.vscode
*.code-workspace

# Mac OS
.DS_Store

# package managers
npm-debug.log*
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
