name: Checks

on: [push]

jobs:
  test:
    name: Test codebase
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Create .env-issuer and .env-ui files
        run: |
          touch .env-issuer
          touch .env-ui
      - name: Copy schemas
        run: |
          mkdir -p schemas
          cp -R schemas/* schemas/
          ls -la schemas
      - name: Docker Compose
        uses: hoverkraft-tech/compose-action@v2.0.1
        with:
          compose-file: './infrastructure/local/docker-compose-infra.yml'
          services: |
            postgres
            vault
            test_local_files_apache
            localstack

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version-file: go.mod
          cache: true

      - run: make tests
        env:
          POSTGRES_TEST_DATABASE: postgres://postgres:postgres@localhost:5432
