name: Checks

on: [push]

jobs:
  test:
    name: Test codebase
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: mv ./.env-ci ./.env
      - name: Docker Compose
        uses: isbang/compose-action@v1.4.1 # Needs actions/checkout before
        with:
          compose-file: './infrastructure/local/docker-compose.yml'
          services: |
             postgres
             vault

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version-file: go.mod
          cache: true

      - run: make tests
        env:
          POSTGRES_TEST_DATABASE: postgres://postgres:postgres@localhost:5432
          SH_ID_PLATFORM_SERVER_URL: localhost:3001
          SH_ID_PLATFORM_SERVER_PORT: 3001
          SH_ID_PLATFORM_NATIVE_PROOF_GENERATION_ENABLED: true
          SH_ID_PLATFORM_PUBLISH_KEY_PATH: pbkey
          SH_ID_PLATFORM_ONCHAIN_PUBLISH_STATE_FRECUENCY: 1m
          SH_ID_PLATFORM_ONCHAIN_CHECK_STATUS_FRECUENCY: 1m
          SH_ID_PLATFORM_LOG_LEVEL: -4
          SH_ID_PLATFORM_LOG_MODE: 2
          SH_ID_PLATFORM_HTTPBASICAUTH_USER: user
          SH_ID_PLATFORM_HTTPBASICAUTH_PASSWORD: password
          SH_ID_PLATFORM_KEY_STORE_ADDRESS: http://localhost:8200
          SH_ID_PLATFORM_KEY_STORE_TOKEN: ${KEY_STORE_TOKEN}
          SH_ID_PLATFORM_KEY_STORE_PLUGIN_IDEN3_MOUNT_PATH: iden3
          SH_ID_PLATFORM_REVERSE_HASH_SERVICE_URL: http://localhost:3001
          SH_ID_PLATFORM_REVERSE_HASH_SERVICE_ENABLED: false
          SH_ID_PLATFORM_ETHEREUM_URL: https://polygon-mumbai.g.alchemy.com/v2/xaP2_t9EUM2VYDgCgMI0k9KqDyJPvZ89
          SH_ID_PLATFORM_ETHEREUM_CONTRACT_ADDRESS: <contract-address>
          SH_ID_PLATFORM_ETHEREUM_DEFAULT_GAS_LIMIT: 600000
          SH_ID_PLATFORM_ETHEREUM_CONFIRMATION_TIME_OUT: 600s
          SH_ID_PLATFORM_ETHEREUM_CONFIRMATION_BLOCK_COUNT: 5
          SH_ID_PLATFORM_ETHEREUM_RECEIPT_TIMEOUT: 600s
          SH_ID_PLATFORM_ETHEREUM_MIN_GAS_PRICE: 0
          SH_ID_PLATFORM_ETHEREUM_MAX_GAS_PRICE: 1000000
          SH_ID_PLATFORM_ETHEREUM_RPC_RESPONSE_TIMEOUT: 5s
          SH_ID_PLATFORM_ETHEREUM_WAIT_RECEIPT_CYCLE_TIME: 30s
          SH_ID_PLATFORM_ETHEREUM_WAIT_BLOCK_CYCLE_TIME: 30s
          SH_ID_PLATFORM_PROVER_SERVER_URL: http://localhost:8002
          SH_ID_PLATFORM_PROVER_TIMEOUT: 600s
          SH_ID_PLATFORM_CIRCUIT_PATH: ./pkg/credentials/circuits

