name: Checks

on: [push]

jobs:
  test:
    name: Test codebase
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Create .env-api, .env-issuer and .env-ui files
        run: |
          touch .env-api
          touch .env-issuer
          touch .env-ui
      - name: Docker Compose
        uses: isbang/compose-action@v1.4.1 # Needs actions/checkout before
        with:
          compose-file: './infrastructure/local/docker-compose-infra.yml'
          services: |
             postgres
             vault

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version-file: go.mod
          cache: true

      - run: make tests
        env:
          POSTGRES_TEST_DATABASE: postgres://postgres:postgres@localhost:5432
