name: Checks

on: [push]

jobs:
  test:
    name: Test codebase
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Docker Compose
        uses: isbang/compose-action@v1.4.1 # Needs actions/checkout before
        with:
          compose-file: './infrastructure/local/docker-compose.yml'
          services: |
             postgres
             vault

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19

      - uses: actions/cache@v3
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - run: echo "Hello world"
        env:
          POSTGRES_TEST_DATABASE: postgres://postgres:postgres@localhost:5432

