name: Build a Push Docker Image to Docker Hub

on:
  push:
    branches:
      - develop
jobs:
  docker:
    name: Build and deploy latest image Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build and push amd64 image
        uses: docker/build-push-action@v4
        with:
          context: .
          platforms: linux/amd64
          push: true
          tags: 0xpolygon/issuernode:test

      - name: Rename Docker Arm File
        run: |
          mv Dockerfile Dockerfile-amd
          mv Dockerfile-arm Dockerfile

      - name: Build and push arm64 image
        uses: docker/build-push-action@v4
        with:
          context: .
          platforms: linux/arm64
          push: true
          tags: 0xpolygon/issuernode:test