name: golangci-lint
on:
  push:
    branches:
      - "*"

permissions:
  contents: read

jobs:
  golangci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-go@v3
        with:
          go-version-file: go.mod
          cache: true
      - name: Run golangci-lint
        run: make lint